*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    color: black;
    background-image: url('photos/bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

p{
    color: rgb(26, 24, 24);
}

a,.btn{
    transition: all 300ms ease;
}
.container{
   width: 90%;
   max-width: 1300px;
   margin: auto;
}

header {
    background: white;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 28px;
    font-weight: 700;
    color: #ac31dd;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.navlinks li{
    list-style: none;
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.navlinks a:hover {
    color: #d580f7;
    
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* home section */
.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 50px;
    margin-top: 50px;
}

.home-img {
    width: 320px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #d580f7;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border: none;
}
.btn:hover {
    background: #ac31dd;
    transform: scale(1.0) translateY(3px);
}

.btn.small{
    padding: 8px 15px;
    font-size: 14px;
    color: black;
    background-color: white;
}

.edu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}  
   
.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
    
}
.skill-card {
    background: #d580f7;
    padding: 15px 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.projects{
    margin-top: 50px;
    margin-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-top: 20px;
}

.project-card {
    background: #d580f7;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}
.project-card:hover{
    transform: scale(1.05);
    background: #ac31dd;
}

h3{
    margin-bottom: 10px;
}
.pro-img{
    width: auto;
    height: 200px;
    border-radius: 12px;
}
  
footer{
    padding: 25px;
    margin-top: 50px;
    background: rgb(212, 135, 243);
}

/*Animation*/
.animate{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*for responsiveness*/

@media(max-width: 768px) {
    .navlinks {
        display: none;
        position: absolute;
        right: 20px;
        top: 70px;
        background: white;
        padding: 20px;
        flex-direction: column;
        gap: 15px;
        width: 150px;
        border-radius: 10px;
    }
    .menu-btn {
        display: block;
    }
    .home {
        flex-direction: column;
        text-align: center;
    }
    .home-img {
        margin-top: 30px;
        width: 250px;
    }
    .edu{
        flex-direction: column;
    }
    .project-grid {
        grid-template-columns: 1fr;
    }
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding-bottom: 10px;
}

.form-container{
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

#responseMsg{
    margin-top: 10px;
}
@media (max-width: 750px) {
    .contactmehead{
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}
}
